In [4]:
"""
Merge Gnews files to remove duplicated articles.
Date range can be configered. 
Fill summary with title if not available.
"""
import pandas as pd
from datetime import datetime, timedelta 

df_list = []
START_DATE = datetime(2025, 4, 1)
for i in range(30):
    DATE_I = START_DATE + timedelta(days=i)
    df_list.append(pd.read_csv(f'data/gnews_summarized/{DATE_I.strftime('%Y-%m-%d')}.csv'))

df = pd.concat(df_list)
df.drop(columns = ['Unnamed: 0'], inplace=True)
df.reset_index(inplace=True, drop=True)
df['summary'] = df['summary'].fillna(df['title'])
df['summary_len'] = df['summary'].str.len()
df['full_text'] = df['full_text'].fillna(df['title'])
df['text_len'] = df['full_text'].str.len()
df = df.loc[df.groupby('id')['text_len'].idxmax()]
df['published_dt'] = pd.to_datetime(df['published'], format='mixed').dt.strftime('%Y-%m-%d')

# save grouped csv
df.to_csv(f'gnews_multi_day/{START_DATE.strftime('%Y-%m-%d')}--TO--{DATE_I.strftime('%Y-%m-%d')}')

In [7]:
sum(df['summary'].isnull())

0

In [84]:
df[['published_dt', 'full_text']].groupby('published_dt').count()

              full_text
published_dt
2025-04-01            5
2025-04-02            2
2025-04-03            6
2025-04-04            4
2025-04-06            1
2025-04-07            5
2025-04-08            5
2025-04-09            5
2025-04-10            4
2025-04-11           12
2025-04-12            1
2025-04-13            1
2025-04-14            7
2025-04-15            7
2025-04-16            6
2025-04-17            5
2025-04-18            4
2025-04-20            1
2025-04-21            4
2025-04-22            5
2025-04-23            8
2025-04-24            3
2025-04-25            3
2025-04-27            2
2025-04-28            5
2025-04-29            5
2025-04-30            7
2025-05-01           14

datetime.datetime(2025, 4, 30, 0, 0)